.projekt_wrapper {
  margin-top: 4rem;

  .projekt_text {
    margin: 1rem 0;
  }
}

.projekt_img_wrapper {
  margin: 4rem auto;
  max-width: 1200px;

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2rem;
  }

  .projekt_img_1 {
    display: none;
    width: 100%;
  }

  .projekt_img_2 {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .projekt_img_1 {
      display: block;
      margin: 0 auto;
    }

    .projekt_img_2 {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    .projekt_img_1 {
      display: block;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .projekt_img_2 {
      display: block;
      grid-column-start: 4;
      grid-column-end: 6;
    }
  }
}
