header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;

    .logo {
      font-size: 4rem;
      font-weight: 600;
    }

    .mobileMenu {
      .menuIcon {
        font-size: 5rem;
        margin-top: 0.3rem;
        cursor: pointer;
      }
      @media (min-width: 1024px) {
        display: none;
      }
    }

    .desktopMenu {
      display: none;
      @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        width: 75%;
        justify-content: space-between;

        .menuList {
          display: flex;
          align-items: center;
          margin-left: 4rem;
          justify-content: space-between;

          .menuItem {
            font-size: 2rem;
            font-weight: 500;
            margin-left: 4rem;
          }
        }
        button {
          font-size: 2rem;
          font-weight: 500;
          padding: 1rem 3rem;
          border: 1px solid #000;
          border-radius: 10rem;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
