@import './variables.scss';

html {
  font-size: 62.5%; /* Makes the root font size to 10px for default browsers */
}

body {
  font-size: $p-small;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Heading styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 6.1rem;
  line-height: $line-height-h1;
}
h2 {
  font-size: 4.8rem;
  line-height: $line-height-h2;
  padding-top: 3rem;
}
h3 {
  font-size: 3.9rem;
  line-height: $line-height-h3-h4;
}

/* Paragraph styles */
p {
  font-family: 'Montserrat', sans-serif;
  font-size: $p-normal;
  font-weight: 400;
  line-height: $line-height-normal;
  margin: 0;
  padding: 10px 0;
}

/* List styles */
ul,
ol {
  list-style: none;
}

li {
  font-size: $p-normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-black;
}

.verktyg-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.verktyg-img + .verktyg-img {
  margin-left: 20px;
}

img {
  max-width: 100%;
}

.btn {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border: 1px solid #000;
  border-radius: 10rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
