.hero_wrapper {
  margin-top: 4rem;

  .hero_content_wrapper {
    margin-bottom: 2rem;

    p {
      font-size: 2.2rem;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;

    .hero_content_wrapper {
      margin-top: 15rem;
    }

    .hero_img {
      margin-left: 10rem;
      width: 50%;
    }
  }
}
