// imports
@import 'src/styles/variables.scss';

// styling

.navbar_modal_container {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  height: 150vh;
  -webkit-overflow-scrolling: touch;
}

.navbar_modal_wrapper {
  padding: 4rem;
  max-width: 1200px;
  margin: 0 auto;

  ul {
    padding: 0;
  }
}

.navbar_modal_top_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.logo {
  font-size: 4rem;
  font-weight: 600;
}

.closeIcon {
  font-size: 4rem;
  cursor: pointer;
  margin-top: 0.4rem;
}
